
body{
  font-family: $font-family;
}

.navbar__button--white{
  font-family: $font-family-primary;

}
.navbar__button--green{
  font-family: $font-family-primary;

}

.main__information--numbs{
  font-family: $font-family-primary;

}

.article__title{
  font-family: $font-family-primary;
}
.section__description--title{
  font-family: $font-family-primary;
}