
.article{
    position: absolute;
    top: 15%;
    margin-left: 70%; 
    width: 25%;
  
  }
  
  .article__title{
    font-size: 70px;
  }
  
  .article__text{
    line-height: 0.05rem; 
    font-size: 20px;
    
  }